<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/menü.css}">
</head>
<body>
<nav th:fragment="menu">
  <ul>
    <li><a th:href="@{/index}">Főoldal</a></li>
    <li><a th:href="@{/termekek}">Termékek</a></li>
    <li><a th:href="@{/kapcsolat}">Kapcsolat</a></li>


    <li sec:authorize="isAnonymous()" class="login">
      <a th:href="@{/login}">Bejelentkezés</a>
  </li>
    <li sec:authorize="isAuthenticated()" class="login">
      <a th:href="@{/logout}">Kilépés</a>
    </li>
  </ul>
</nav>
<div th:fragment="content"></div>
</body>
</html>
